*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Netbean target folder
/CommonDataModel/target/
/StorageAdapter/target/
/QueryAdapter/target/

# node ignore
Visualizer/node_modules/
Visualizer/npm-debug.log
node_modules/
npm-debug.log
Reader/data/
